# Database
DATABASE_URL="postgresql://auto_project_user:v1YsK4FCnpjnW9hLyf7JA4EVZfB3G16Y@dpg-d2b88a3uibrs73fcajk0-a.frankfurt-postgres.render.com/auto_project"

# Next.js
NEXTAUTH_URL="https://your-app-name.onrender.com"
NEXTAUTH_SECRET="sadhsajkcw34b67aw357ov3wq9abwnc732i43vb6q3a7naow43c438568waocy65w9oc45"

# App Settings
NODE_ENV="production"
